/* Base styles that apply to galleries */


/* Styles for gallery break points */
@media screen and (min-width: 30em) {

	.gallery-photo {
		display: flex;
		justify-content: space-around;
		flex-direction: column;
	}

	.gallery-photo > * {
		width: 100%;
		width: 100%;
	}

  .gallery-section {
		position: relative;
		margin:0 -300px;
	}

}

@media screen and (min-width: 15em) {

	.gallery-photo {
		display: flex;
		justify-content: space-around;
		flex-direction: column;
	}

	.gallery-photo > * {
		width: 100%;
		width: 100%;
	}

  .gallery-section {
		position: relative;
		margin:0 -300px;
	}

}
