/* Base styles that apply to galleries */
.galley-section {
	display: flex;
	flex-direction: row;
	border: 1px solid black;
}

.gallery-photo {
	display: flex;
	width: 100%;
	flex-flow: column;
}

img {
  max-width: 100%;
  height: auto;
}

/* Styles for gallery break points */
@media screen and (min-width: 30em) {



}
